<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Shared/_Layout" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Quản lý bán sách</title>
</head>
<body>

<div layout:fragment="content">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin tác giả</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>



    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form action="" th:action="@{/Author/Save}" method="post" th:object="${author}">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-horizontal">
                                    <hr/>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Tên tác giả</label>
                                        <div class="col-5">
                                            <input type="text" th:field="*{Name}" class="form-control" required>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                            <a th:href="@{/Author}" class="btn btn-warning">Huỷ</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>

